.jumbotron {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

h3 {
    margin-bottom: 30px;
    text-align: center;
}

.table {
    margin-top: 20px;
}

.form-control {
    margin-bottom: 5px;
}

.selecionado {
    background-color: yellow;
}

.negrito {
    font-weight: bold;
}

hr {
    border-color: #999;
}
